# Importamos Librerias

In [1]:
import pandas as pd
import seaborn as sns 
import numpy as np

# Importamos Datos

In [2]:
data = pd.read_csv("attacks.csv",encoding = "ISO-8859-1")

# Analizamos nuestros datos


### Primero la estructura

In [3]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

Vemos que hay varias columnas innecesarias para nuestras hipotesis

In [4]:
data.shape

(25723, 24)

In [5]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

#### Ojo! Para empezar vamos a homogenizar este index caotico y facilitar nuestro proceso de limpieza despues:

### Limpiamos estructura y fallos de typo

·Primero ponemos todo en mayúscula:

In [6]:
data.columns = data.columns.str.lower()

In [7]:
data.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time',
       'species ', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

·A continuacion limpiamos los espacios innecesarios:

In [8]:
data.columns = data.columns.str.strip()

In [9]:
data.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

### Segundo el contenido

Para ello, vamos a ver el tipo de objeto en cada columna:

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal (y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator or source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case number.1           6302 non-null   object
 20  case number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  unnamed: 22             1 non-null      object
 23  unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

Esto nos confirma las columnas innecesarias. Tambien nos da el numero de objetos no nulos por columna.... pero necesitamos saber cuantos son nulos de mayor a menor:

In [11]:
data.isnull().sum().sort_values(ascending=False)

unnamed: 22               25722
unnamed: 23               25721
time                      22775
species                   22259
age                       22252
sex                       19986
activity                  19965
location                  19961
fatal (y/n)               19960
area                      19876
name                      19631
country                   19471
injury                    19449
investigator or source    19438
type                      19425
year                      19423
href formula              19422
date                      19421
pdf                       19421
href                      19421
case number.1             19421
case number.2             19421
original order            19414
case number               17021
dtype: int64

Ok. Pero esto es poco representativo, necesitamos saber el numero de nulos relativo a los no nulos:

In [12]:
percent_nulls = data.isnull().mean().sort_values(ascending=False)

In [13]:
percent_nulls

unnamed: 22               0.999961
unnamed: 23               0.999922
time                      0.885394
species                   0.865335
age                       0.865062
sex                       0.776970
activity                  0.776154
location                  0.775998
fatal (y/n)               0.775959
area                      0.772694
name                      0.763169
country                   0.756949
injury                    0.756094
investigator or source    0.755666
type                      0.755161
year                      0.755083
href formula              0.755044
date                      0.755005
pdf                       0.755005
href                      0.755005
case number.1             0.755005
case number.2             0.755005
original order            0.754733
case number               0.661704
dtype: float64

#### Vemos dos cosas: que hay muchos valores perdidos, de los cuales podemos prescindir y que hay columnas practicamente sin valores no nulos (algunas de las cuales no son necesarias para nuestras hipotesis):

### Limpiamos el contenido

Quitamos los valores nulos dentro de cada columna, lo que reducirá el numero de filas, con inplace= True lo hacemos permanentemente:

In [14]:
data.shape

(25723, 24)

In [15]:
data.dropna(how='all', inplace= True)

In [16]:
data.shape

(8703, 24)

Ahora quitamos las columnas irrelevantes para nuestras hipotesis, ya que carecen de valor explicativo:

In [17]:
data.drop(['unnamed: 22', 'unnamed: 23', 'href formula','href', 'pdf','original order'], axis=1, inplace=True)

In [18]:
data.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'case number.1', 'case number.2'],
      dtype='object')

El numero de caso de los accidentes 1 y 2 parecen ser los mismos, o almenos en los primeros. Si fuera asi, podriamos reducirlo a una columna, veamos:

In [19]:
data['case number.1'] == data['case number.2']

0         True
1         True
2         True
3         True
4         True
         ...
8698     False
8699     False
8700     False
8701     False
25722    False
Length: 8703, dtype: bool

Ok pues no lo son. Mantenemos las dos pues.

In [20]:
data.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,case number.1,case number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04

# Hipotesis

### Victimas: quienes son y las causas
    1) Edad?
    2) Qué genero son? Más hombres.. correlacion? o mas bien por la     actividad que hacian?
    3) Muertos?
    4) Qué actividad estaban haciendo?
    5) Relacion entre actividad y genero que explica porque hay mas   hombres que mujeres heridos

In [21]:
data["sex"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [22]:
data["sex"].str.strip()
data["sex"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [23]:
data["sex"]= data["sex"].replace(['.', 'na'],['M ', 'M'])

In [24]:
data["sex"]= data["sex"].replace(['N', 'Nose'])

In [25]:
data["sex"].unique()

array(['F', 'M', nan, 'M ', 'lli'], dtype=object)

In [26]:
data['sex'].value_counts(dropna=False)

M      5095
NaN    2967
F       637
M         3
lli       1
Name: sex, dtype: int64

In [27]:
data = data[data["sex"].notnull()]

In [28]:
data['sex'].value_counts(dropna=False)

M      5095
F       637
M         3
lli       1
Name: sex, dtype: int64

Problem there are floats in the column so we need to get rid of them:

In [29]:
data[data['sex'].map(lambda x: str(x)!=".")]

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,case number.1,case number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001

In [30]:
data['sex'].unique()

array(['F', 'M', 'M ', 'lli'], dtype=object)

In [31]:
data = data[[(len(x) < 2) for x in data['sex']]]

In [32]:
data['sex'].unique()

array(['F', 'M'], dtype=object)

In [33]:
data['sex'].value_counts()

M    5095
F     637
Name: sex, dtype: int64

In [36]:
data['fatal (y/n)'].value_counts(dropna=False)

N          3942
Y          1279
NaN         461
UNKNOWN      40
 N            7
M             1
y             1
2017          1
Name: fatal (y/n), dtype: int64

In [39]:
data = data[data["fatal (y/n)"].notnull()]

In [40]:
data[data['fatal (y/n)'].map(lambda x: str(x)!=".")]

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,case number.1,case number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND.0001,ND.0001

In [41]:
data['fatal (y/n)'].value_counts(dropna=False)

N          3942
Y          1279
UNKNOWN      40
 N            7
M             1
y             1
2017          1
Name: fatal (y/n), dtype: int64

In [44]:
data['fatal (y/n)'] = data['fatal (y/n)'].replace(' N','N')

In [45]:
data['fatal (y/n)'].value_counts(dropna=False)

N          3949
Y          1279
UNKNOWN      40
M             1
y             1
2017          1
Name: fatal (y/n), dtype: int64

In [47]:
data['fatal (y/n)'] = data['fatal (y/n)'].replace('y','Y')

In [49]:
data['fatal (y/n)'].value_counts(dropna=False)

N          3949
Y          1280
UNKNOWN      40
M             1
2017          1
Name: fatal (y/n), dtype: int64

In [64]:
data = data.loc[data['fatal (y/n)']!="M"]

In [65]:
data = data.loc[data['fatal (y/n)']!="2017"]

In [66]:
data['fatal (y/n)'].value_counts(dropna=False)

N          3949
Y          1280
UNKNOWN      40
Name: fatal (y/n), dtype: int64

## Now let´s look at the activities

In [69]:
data['activity'].unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Swimming around anchored ship',
       'Crew swimming alongside their anchored ship',
       '4 men were bathing'], dtype=object)

In [74]:
data['activity'].value_counts(dropna=False)

Surfing                                                                                                   911
Swimming                                                                                                  760
Fishing                                                                                                   322
NaN                                                                                                       305
Spearfishing                                                                                              293
                                                                                                         ...
Overturned skiff                                                                                            1
Fishing?                                                                                                    1
Bathing / standing                                                                                          1
Jumping in the waves                                                                                        1
Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface      1
Name: activity, Length: 1283, dtype: int64

In [75]:
data = data[data["activity"].notnull()]

In [77]:
data["activity"].value_counts(dropna=False)

Surfing                                                                                                   911
Swimming                                                                                                  760
Fishing                                                                                                   322
Spearfishing                                                                                              293
Bathing                                                                                                   145
                                                                                                         ...
Clinging to overturned rowing boat                                                                          1
Testing anti-shark cage                                                                                     1
Fell from the jetty                                                                                         1
Collecting ornamental fish                                                                                  1
Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface      1
Name: activity, Length: 1282, dtype: int64

### Hay muchas actividades especificas e individuales, que no nos sirven para buscar una relacion entre la informacion:

In [89]:
data.groupby('activity').filter(lambda x: 10> len(x)>=1).activity.value_counts()

Diving for trochus                                                                                                                                                                                                                                    9
Freediving                                                                                                                                                                                                                                            9
Fell into the water                                                                                                                                                                                                                                   9
Fishing for sharks                                                                                                                                                                                                                                    9
Fishing                                                                                                                                                                                                                                               8
                                                                                                                                                                                                                                                     ..
Anti-Aircraft cruiser USS Atlanta (CL,-05) travelling in convoy after the Battle of Midway, encountered a Japanese flotilla  (Battle of Guadalcanal) &, heavily damaged by gunfire, she was lost off Lunga Point. Victim was swimming when bitten.    1
Ditched aircraft, 3 men in the water. Swam for 31 hours                                                                                                                                                                                               1
Spearfishing, shot a sandtiger shark. Cord to spear tangled round his legs & a wave washed him onto a reef.                                                                                                                                           1
Fishing / washing bait off hands                                                                                                                                                                                                                      1
Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface                                                                                                                                                1
Name: activity, Length: 1253, dtype: int64

### Para ello necesitamos actividades mas generales. El threshold de una actividad general es 100

In [91]:
data.groupby('activity').filter(lambda x: len(x)>=100).activity.value_counts()

Surfing         911
Swimming        760
Fishing         322
Spearfishing    293
Bathing         145
Wading          138
Diving          101
Name: activity, dtype: int64

In [97]:
data.to_csv("data_limpio.csv", index=False)